{% extends 'base.html' %}
{% load static %}

{% block title %}
    Gastarin - Loguear/Registrar
{% endblock title %}

{% block content %}
    <main class="login-registro">
        <div class="login" id="login">
            <h2>Iniciar Sesión</h2>
            <form method="POST" class="form-login z-index-1000">
                {% csrf_token %}
                <input type="text" name="username_login" placeholder="Nombre de Usuario">
                <input type="password" name="password_login" placeholder="Contraseña">

                <button type="submit" name="login">Iniciar Sesión</button>
                {% if error_login %}
                    <p class="error_login">{{ error_login }}</p>
                {% endif %}
            </form>
            <button class="boton-registro" id="boton_registrar">Registrarse</button>
        </div>
        <div class="registro opacity-0 display-none" id="registro">
            <h2>Registro</h2>
            <form method="POST" enctype="multipart/form-data" class="form-registro">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Nombre de Usuario" required>
                <input type="password" name="password" id="password" placeholder="Contraseña" required>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Repita la Contraseña" required>
                <div id="error_password" class="display-none">
                    <p>Las contraseñas no coinciden</p>
                </div>
                <input type="text" name="first_name" placeholder="Nombre" required>
                <input type="text" name="last_name" placeholder="Apellido" required>
                <input type="text" name="email" placeholder="Mail">
                <input type="number" name="telefono" placeholder="Telefono">
                <fieldset>
                    <legend>Foto de Perfil</legend>
                    <input type="file" name="foto">
                </fieldset>

                <button type="submit" name="registro">Registrarse</button>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
            </form>
            <button class="boton-login" id="boton_login">Ya tengo cuenta</button>
        </div>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/login_registro.js' %}"></script>
{% endblock scripts %}