{% extends 'base.html' %}
{% load static %}

{% block title %}
    Perfil
{% endblock title %}

{% block content %}
    <main class="perfil">
        {% if error %}
            <div class="error-password">
                <h3>No se pudo editar los datos</h3>
                <h3>{{ error }}</h3>
            </div>
        {% endif %}
        <div class="muestra-datos sombra">
            <div class="foto-perfil-contenedor">
                {% if user.foto %}
                    <img src="{{ user.foto.url }}" alt="Foto de perfil" class="foto-perfil">
                {% else %}
                    <img src="{% static 'img/icono_gastarin.png' %}" alt="Sin foto de perfil" class="foto-perfil">
                {% endif %}
            </div>
            <div class="datos-perfil">
                <h3>{{ user.username }}</h3>
                <p>{{ user.first_name }}, {{ user.last_name }}</p>
                <p>{{ user.email }}</p>
                <p>Tel: {{ user.telefono }}</p>
                <button type="button" class="boton-editar-datos-perfil">Editar Datos</button>
            </div>
        </div>
        <button type="button" class="abrir-categorias sombra">Ver Tus Categorias</button>
        <div class="modal-categorias display-none">
            <button type="button" class="cerrar-categorias">X</button>
            <div class="ver-categorias">
                <h4>Categorias Gastos</h4>
                <p>(Toca la que quieras editar)</p>
                <div class="categorias-for">
                    {% for categoria in categorias %}
                        <button 
                            type="button"
                            class="categoria-perfil"
                            data-id="{{ categoria.id }}"
                            >
                            <span class="icono">{{ categoria.icono }}</span>
                            <span class="texto">{{ categoria.nombre }}</span>
                        </button>
                    {% endfor %}
                </div>
                <h4>Categorias Ingreso</h4>
                <p>(Toca la que quieras editar)</p>
                <div class="categorias-for">
                    {% for categoria in categorias_ingreso %}
                        <button 
                            type="button"
                            class="categoria-perfil-ingreso"
                            data-id="{{ categoria.id }}"
                            >
                            <span class="icono">{{ categoria.icono }}</span>
                            <span class="texto">{{ categoria.nombre }}</span>
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="editar-categoria display-none">
            <button class="cerrar-editar">X</button>
            <form id="form-categoria">
                {% csrf_token %}
                <h4 id="h4"></h4>
                <input type="hidden" id="edit-id">

                <input type="text" name="nombre" id="edit-nombre">
                <input type="text" name="icono" id="edit-icono">
                <button type="submit">Guardar</button>
            </form>
        </div>
        <div class="editar-datos-perfil display-none">
            <button type="button" class="boton-cerrar-editar-perfil">X</button>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Editar Datos</h3>
                <input type="text" name="username" placeholder="Nombre de Usuario" value="{{ user.username }}">
                <input type="password" name="password_actual" id="password" placeholder="Contraseña vieja (opcional)">
                <input type="password" name="password" id="confirm_password" placeholder="Contaseña nueva (opcional)">
                <div id="error_password" class="display-none">
                    <p>Las contraseñas no coinciden</p>
                </div>
                <input type="text" name="first_name" placeholder="Nombre" value="{{ user.first_name }}">
                <input type="text" name="last_name" placeholder="Apellido" value="{{ user.last_name }}">
                <input type="text" name="email" placeholder="Mail" value="{{ user.email }}">
                <input type="number" name="telefono" placeholder="Telefono" value="{{ user.telefono }}">
                <fieldset>
                    <legend>Foto actual</legend>
                    {% if user.foto %}
                    <img src="{{ user.foto.url }}" class="foto-perfil"><br>
                    {% else %}
                    <p>No tenes foto de perfil</p><br>
                    {% endif %}
                </fieldset>
                <label>
                    <p>Nueva foto:</p>
                    <input type="file" name="foto">
                </label>

                <button type="submit" name="registro">Editar Datos</button>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
            </form>
        </div>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/perfil.js' %}?v=1.131"></script>
{% endblock scripts %}