{% extends 'base.html' %}
{% load static %}

{% block title %}
    Gastarin - Control de gastos
{% endblock title %}

{% block content %}
    <main class="index">
        {% if exito %}
            <p class="exito" id="exito">{{ exito }}</p>
        {% endif %}
        {% if user.is_authenticated %}
            <h1 class="saludo">¡Hola, {{ user.username }}!</h1>
            <div class="tarjeta-resumen">
                <div class="resumen">
                    <h4>{{ mes }}</h4>
                    <h5>Saldo actual</h5>
                    <p class="saldo">{{ saldo }}</p>
                </div>
                <div class="ingresos-gastos">
                    <div class="ingresos-index">
                        <h6>Ingresos</h6>
                        <p>${{ ingreso }}</p>
                    </div>
                    <div class="gastos">
                        <h6>Gastos</h6>
                        <p>${{ gasto_total }}</p>
                    </div>
                </div>
            </div>
            <a href="{% url 'gastos:ingresar-gastos' %}" class="agregar-gasto">+</a>
        {% else %}
            <h1>Para controlar tus gastos debes iniciar sesión</h1>
            <a href="{% url 'usuarios:login-registro' %}" class="volver">Ingresar - Registrarse</a>
        {% endif %}
    </main>
{% endblock content %}