{% extends 'base.html' %}

{% block title %}
    Gastarin - Control de gastos
{% endblock title %}

{% block content %}
    <main class="index">
        {% if exito %}
            <p class="exito" id="exito">{{ exito }}</p>
        {% endif %}
        {% if user.is_authenticated %}
            <h1>Vamos a controlar gastos</h1>
            <a href="{% url 'gastos:ingresar-gastos' %}">Agregar gasto</a>
        {% else %}
            <h1>Para controlar tus gastos debes iniciar sesión</h1>
            <a href="{% url 'usuarios:login-registro' %}">Ingresar - Registrarse</a>
        {% endif %}
    </main>
{% endblock content %}